
h1, h2, h3 {
	font-family: 'Raleway', sans-serif; font-weight:700;
}

body {
	background-color:#181F2A; color:#FFFFFF;

	.btn-background { background:radial-gradient(circle farthest-side at left, #65E2D9 25%, #339ECC); }
	
	// section { display:  }
	.wrapper {
		position:relative; min-height:100vh; padding-bottom:18rem; font-size:14px; font-family: 'Open Sans', sans-serif;

		header { background-color:#1c2431; }
		main {
			position:relative; 
			.intro {
				background-color:#1c2431;
				.intro-texts {
					text-align:center; max-width:51.42857142857143rem;
				}
			}
			// .intro::after {
			// 	content: "";
			// 	background:url('../images/bg-curvy-desktop.svg') no-repeat;
			// 	background-size:100%;
			// 	position:absolute;
			// 	bottom:0px;
			// 	top:174px;
			// 	right:0px;
			// 	left:0px;
			// }

			.main-wrapper {
				max-width:1440px; margin:5rem auto;
				.available-features {
					max-width:1000px;
					div { padding:2rem; width:45%;}
				}
	

				.stay-productive {
					.stay-productive-texts {
						a { border-bottom-color:#65E2D9 !important; }
						a:link, a:visited { color:#65E2D9; }
					}
				}

				.testimonials-container {
					margin-top:3rem;
					.testimonials {
						.avatar { width:15%; }
						blockquote { 
							background-color:#202A3C; margin:0rem;
							cite p { margin:0rem; }
						}
					}
				}
			}
			
			.email-signup {
				background:linear-gradient(#181F2A 60%,#0B1523 40%); display:inline-block; width:100%;
				.email-signup-container {
					background-color:#1C2431; width:50%; padding:3rem; margin:auto; text-align:center; border-radius:0.3rem; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
				}				
			}
		}
		footer { 
			padding:3rem; display:inline-block; width:100%; height:18rem; position:absolute; bottom:0rem; background-color:#0B1523; 
			.location { display:flex; align-items:flex-start; flex-basis:25%; }
			.links {
				line-height:2;
				a { color:#ffffff; }
				a:visited { color:#ffffff; }
			}
		}
	}
}


@media (max-width: 991.98px) {
	body {
		.wrapper {
			padding-bottom:30rem; font-size:12px;
			header {
				padding:1rem !important;
				.logo { max-width:25%; }
			}
			main {
				section { padding:1rem; }
				.available-features { 
					max-width:unset; flex-direction:column;
					div { padding:0rem !important; margin-top: 3rem; width:auto !important;}
				}
				.stay-productive { 
					flex-direction:column;
					.stay-productive-texts { max-width:unset; margin-top:3rem; }
				}
				.testimonials-container {
					// padding:3rem;
					.testimonials { 
						flex-direction:column;
						blockquote { 
							width:auto; margin:initial;
						}
					}
				}
				.email-signup {
					padding:1rem;
					.email-signup-container { 
						width:100%;
						.email-signup-form { 
							flex-direction:column;
							input { width:100%; padding-top:1rem !important; padding-bottom:1rem !important; }
							button { margin-left:0rem !important; margin-top:1rem; width:100% }
						}
					}				
				}
			}
			footer {
				padding:1.5rem;
				div {
					flex-direction:column;
					.location { flex-direction:row; }
					.links { margin-top:2rem; }
					.media { flex-direction:row; justify-content:center; width:100%;}
				}
			}
		}
	}
}

@media (min-width: 991.99px) {
	body {
		main {
			.stay-productive {
				.stay-productive-texts { max-width:40%; }
			}			
			.testimonials-container {
				.testimonials blockquote { 
					max-width:32%;
				}
			}
		}
	}
}